@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #F0EEED;
  background: #332C39;
  font-family: 'Exo 2';
}

a {
 transition: 0.25s; 
}
a:hover {
  color: #C92C6D;
}

#menu-list{
  padding-bottom: 1rem;
}